/* theme for dev.css v3, a classless CSS framework - https://github.com/intergrav/dev.css */
/* about: theme for Additive's SkywardMC page */

:root {
	/* light colors */
	--dc-cs: light;
	--dc-tx-1: #000000;
	--dc-tx-2: #000000;
	--dc-bg-1: #F1E8E8;
	--dc-bg-2: #F6F1F1;
	--dc-bg-3: #DED1D1;
	--dc-lk-1: #922121;
	--dc-lkb-1: #D1C3C3;
	--dc-lkb-2: #DED1D1;
	--dc-lkb-tx: #000000;
	--dc-ac-1: #922121;
	--dc-ac-tx: #F6F1F1;

	/* dark colors */
	--dc-d-cs: dark;
	--dc-d-tx-1: #F7DADA;
	--dc-d-tx-2: #F7DADA;
	--dc-d-bg-1: #221616;
	--dc-d-bg-2: #2e1e1e;
	--dc-d-bg-3: #332525;
	--dc-d-lk-1: #FBA7A7;
	--dc-d-lkb-1: #433434;
	--dc-d-lkb-2: #332525;
	--dc-d-lkb-tx: #F7DADA;
	--dc-d-ac-1: #FBA7A7;
	--dc-d-ac-tx: #221616;
}

@media (prefers-color-scheme: dark) {
	:root {
		--dc-cs: var(--dc-d-cs);
		--dc-tx-1: var(--dc-d-tx-1);
		--dc-tx-2: var(--dc-d-tx-2);
		--dc-bg-1: var(--dc-d-bg-1);
		--dc-bg-2: var(--dc-d-bg-2);
		--dc-bg-3: var(--dc-d-bg-3);
		--dc-lk-1: var(--dc-d-lk-1);
		--dc-lkb-1: var(--dc-d-lkb-1);
		--dc-lkb-2: var(--dc-d-lkb-2);
		--dc-lkb-tx: var(--dc-d-lkb-tx);
		--dc-ac-1: var(--dc-d-ac-1);
		--dc-ac-tx: var(--dc-d-ac-tx);
	}
}
