/* theme for dev.css v4, a classless CSS framework - https://github.com/intergrav/dev.css */
/* about: theme for Additive's SkywardMC page */

:root {
	--dc-cs: light dark;
	--dc-tx-1: light-dark(#000000, #f7dada);
	--dc-tx-2: light-dark(#000000, #f7dada);
	--dc-bg-1: light-dark(#f6f1f1, #221616);
	--dc-bg-2: light-dark(#f1e8e8, #2e1e1e);
	--dc-bg-3: light-dark(#ded1d1, #332525);
	--dc-lk-1: light-dark(#922121, #e29797);
	--dc-lkb-1: light-dark(#d1c3c3, #433434);
	--dc-lkb-2: light-dark(#ded1d1, #332525);
	--dc-lkb-tx: light-dark(#000000, #f7dada);
	--dc-ac-1: light-dark(#922121, #e29797);
	--dc-ac-tx: light-dark(#f6f1f1, #221616);
}
