/* theme for dev.css v4, a classless CSS framework - https://github.com/intergrav/dev.css */
/* about: theme for Adrenaline's SkywardMC page */

:root {
	--dc-cs: light dark;
	--dc-tx-1: light-dark(#000000, #daf7e9);
	--dc-tx-2: light-dark(#000000, #daf7e9);
	--dc-bg-1: light-dark(#f1f6f4, #121c17);
	--dc-bg-2: light-dark(#e8f1eb, #16221d);
	--dc-bg-3: light-dark(#d1ded6, #25332c);
	--dc-lk-1: light-dark(#1e8051, #97e2b0);
	--dc-lkb-1: light-dark(#c3d1c9, #34433b);
	--dc-lkb-2: light-dark(#d1ded7, #25332b);
	--dc-lkb-tx: light-dark(#000000, #daf7e9);
	--dc-ac-1: light-dark(#1e8051, #97e2b0);
	--dc-ac-tx: light-dark(#f1f6f4, #121c17);
}
