/* theme for dev.css v3, a classless CSS framework - https://github.com/intergrav/dev.css */
/* about: theme for Adrenaline's SkywardMC page */

:root {
	/* light colors */
	--dc-cs: light;
	--dc-tx-1: #000000;
	--dc-tx-2: #000000;
	--dc-bg-1: #E8F1EB;
	--dc-bg-2: #F1F6F4;
	--dc-bg-3: #D1DED6;
	--dc-lk-1: #23975F;
	--dc-lkb-1: #C3D1C9;
	--dc-lkb-2: #D1DED7;
	--dc-lkb-tx: #000000;
	--dc-ac-1: #23975F;
	--dc-ac-tx: #F1F6F4;

	/* dark colors */
	--dc-d-cs: dark;
	--dc-d-tx-1: #DAF7E9;
	--dc-d-tx-2: #DAF7E9;
	--dc-d-bg-1: #121C17;
	--dc-d-bg-2: #16221D;
	--dc-d-bg-3: #25332C;
	--dc-d-lk-1: #A7FBC3;
	--dc-d-lkb-1: #34433B;
	--dc-d-lkb-2: #25332B;
	--dc-d-lkb-tx: #DAF7E7;
	--dc-d-ac-1: #A7FBC3;
	--dc-d-ac-tx: #121C17;
}

@media (prefers-color-scheme: dark) {
	:root {
		--dc-cs: var(--dc-d-cs);
		--dc-tx-1: var(--dc-d-tx-1);
		--dc-tx-2: var(--dc-d-tx-2);
		--dc-bg-1: var(--dc-d-bg-1);
		--dc-bg-2: var(--dc-d-bg-2);
		--dc-bg-3: var(--dc-d-bg-3);
		--dc-lk-1: var(--dc-d-lk-1);
		--dc-lkb-1: var(--dc-d-lkb-1);
		--dc-lkb-2: var(--dc-d-lkb-2);
		--dc-lkb-tx: var(--dc-d-lkb-tx);
		--dc-ac-1: var(--dc-d-ac-1);
		--dc-ac-tx: var(--dc-d-ac-tx);
	}
}
