---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Home"
	description="SkywardMC is an organization that makes popular Minecraft modpacks, mods, and tools such as Adrenaline and Additive."
>
	<p>
		Welcome to SkywardMC's website! We're a community that makes useful
		Minecraft modpacks, mods, tools, and more. our most notable projects are the
		Adrenaline and Additive modpacks.
	</p>
	<p>
		SkywardMC was started in 2021 by <a href="https://github.com/intergrav"
			>Devin</a
		> (initially known as Devin's Projects), and has slowly grown to become a larger
		group of people maintaining various different Minecraft-related things. If you
		would like to join, feel free to check out our Discord server linked above.
	</p>
	<p>
		Some of our projects have pages which you can find in the navigation in
		"Projects". For everything else that we made, find us on <a
			href="https://github.com/skywardmc">GitHub</a
		>.
	</p>
</Layout>
