---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Home"
	description="SkywardMC is an organization that makes popular Minecraft modpacks, mods, and tools such as Adrenaline and Additive."
>
	<p>
		Welcome to SkywardMC's website! We're a community that makes useful
		Minecraft modpacks, mods, tools, and more. Our most notable projects are the
		Adrenaline and Additive modpacks.
	</p>
	<p>
		SkywardMC was started in 2021 by <a href="https://github.com/intergrav"
			>Devin</a
		> (initially known as Devin's Projects), and has slowly grown to become a larger
		group of people maintaining various different Minecraft-related things. If you
		would like to join, feel free to check out our Discord server linked above.
	</p>
	<p>
		Here are some of our projects. Not everything that we've made is listed here
		though; You can find the rest on our GitHub linked above.
	</p>
	<ul>
		<li>
			<a href="/project/adrenaline">Adrenaline</a>, a modpack that heavily
			improves rendering and logic performance through various different mods
			and configurations.
		</li>
		<li>
			<a href="/project/additive">Additive</a>, a modpack that provides a modern
			alternative to OptiFine. This is a fork of Adrenaline with added features.
		</li>
	</ul>
</Layout>
