---
import { Tag, Download } from "lucide-astro";
---

<div class="AdditiveInstallerCard">
	<Tag />
	<div>
		<p>Additive Installer</p>
		<p>
			<a href="https://github.com/skywardmc/additive-installer/releases/v1.0.3"
				>v1.0.3</a
			> - <a
				href="https://github.com/skywardmc/additive-installer/commit/e82dab14ebd77ffc5d8dbf1d43f6ae99538d8f5d"
				>e82dab1</a
			>
		</p>
	</div>
	<a
		href="https://github.com/skywardmc/additive-installer/releases/download/v1.0.3/additive-installer-1.0.3.jar"
		><button><Download /></button></a
	>
</div>

<style>
	.AdditiveInstallerCard {
		display: flex;
		align-items: center;
		gap: 1rem;
		padding: 0.75rem;
		max-width: 24rem;
		background-color: var(--dc-bg-2);
		color: var(--dc-tx-1);
		border: 1px solid var(--dc-bg-3);
		border-radius: 1rem;
		margin-bottom: 1rem;
	}

	.AdditiveInstallerCard button {
		align-items: center;
		width: 3rem;
		min-width: 3rem;
		height: 3rem;
		padding: 0;
		border-radius: 50%;
	}

	.AdditiveInstallerCard a:has(button) {
		margin-left: auto;
	}

	.AdditiveInstallerCard .lucide {
		margin-left: 0.5rem;
		width: 2rem;
		height: 2rem;
		stroke-width: 1pt;
	}

	.AdditiveInstallerCard button .lucide {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 2rem;
		stroke-width: 1pt;
	}

	.AdditiveInstallerCard div p {
		padding: 0;
		margin: 0;
	}
</style>
