---
import { Tag, Download } from "@lucide/astro";
---

<div class="AdditiveInstallerCard">
	<Tag />
	<div>
		<p>Additive Installer</p>
		<p>
			<a href="https://github.com/skywardmc/additive-installer/releases/v1.0.4"
				>v1.0.4</a
			> - <a
				href="https://github.com/skywardmc/additive-installer/commit/434439acf8379698c5ae6c5dbeb599b6e5628950"
				>434439a</a
			>
		</p>
	</div>
	<a
		href="https://github.com/skywardmc/additive-installer/releases/download/v1.0.4/additive-installer-1.0.4.jar"
		><button><Download /></button></a
	>
</div>

<style>
	.AdditiveInstallerCard {
		display: flex;
		align-items: center;
		gap: 1rem;
		padding: 0.75rem;
		max-width: 24rem;
		background-color: var(--dc-bg-2);
		color: var(--dc-tx-1);
		border: 1px solid var(--dc-bg-3);
		border-radius: 1rem;
		margin-bottom: 1rem;
		margin-left: auto;
		margin-right: auto;
	}

	.AdditiveInstallerCard button {
		align-items: center;
		width: 3rem;
		min-width: 3rem;
		height: 3rem;
		padding: 0;
		border-radius: 50%;
	}

	.AdditiveInstallerCard a:has(button) {
		margin-left: auto;
	}

	.AdditiveInstallerCard .lucide {
		margin-left: 0.5rem;
		width: 2rem;
		height: 2rem;
		stroke-width: 1pt;
	}

	.AdditiveInstallerCard button .lucide {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 2rem;
		stroke-width: 1pt;
	}

	.AdditiveInstallerCard div p {
		padding: 0;
		margin: 0;
	}
</style>
