---

---

<footer>
	<p>
		Built with <a href="https://astro.build">Astro</a> and <a
			href="https://github.com/intergrav/dev.css">dev.css</a
		>, <a href="https://github.com/skywardmc/docs">source</a>
	</p>
</footer>
