---

---

<header>
	<p>SkywardMC, a Minecraft modding organization</p>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/projects">Projects</a></li>
			<li><a href="https://github.com/skywardmc">GitHub</a></li>
			<li><a href="https://modrinth.com/organization/skywardmc">Modrinth</a></li>
			<li><a href="https://discord.gg/36Tv44cYte">Discord</a></li>
		</ul>
	</nav>
</header>
