---
import { Package, Download } from "lucide-astro";
---

<div class="installerCard">
	<Package />
	<div>
		<p>Additive Installer</p>
		<p>
			<a href="https://github.com/skywardmc/additive-installer/releases/v1.0.3"
				>v1.0.3</a
			> - <a
				href="https://github.com/skywardmc/additive-installer/commit/e82dab14ebd77ffc5d8dbf1d43f6ae99538d8f5d"
				>e82dab1</a>
		</p>
	</div>
	<a
		href="https://github.com/skywardmc/additive-installer/releases/download/v1.0.3/additive-installer-1.0.3.jar"
		><button><Download /></button></a
	>
</div>
