---
import { Menu } from "lucide-astro";
import Search from "astro-pagefind/components/Search";
import "../styles/pagefind.css";
---

<aside id="wikinavigation">
	<article>
		<details>
			<summary>Navigation</summary>
			<Search
				id="search"
				className="pagefind-ui"
				uiOptions={{ showImages: false, resetStyles: false }}
			/>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li>
						<a href="/adrenaline">Adrenaline</a>
						<ul>
							<li><a href="/adrenaline/installation">Installation</a></li>
							<li><a href="/adrenaline/post-install">Post install</a></li>
							<li>
								<a href="/adrenaline/frequently-asked-questions"
									>Frequently asked questions</a
								>
							</li>
							<li>
								<a href="/adrenaline/performance-features"
									>Performance features</a
								>
							</li>
							<li><a href="/adrenaline/troubleshooting">Troubleshooting</a></li>
							<li><a href="/adrenaline/credits">Credits</a></li>
						</ul>
					</li>
				</ul>
				<ul>
					<li>
						<a href="/additive">Additive</a>
						<ul>
							<li><a href="/additive/installation">Installation</a></li>
							<li><a href="/additive/post-install">Post install</a></li>
							<li>
								<a href="/additive/frequently-asked-questions"
									>Frequently asked questions</a
								>
							</li>
							<li>
								<a href="/additive/optifine-features">OptiFine features</a>
							</li>
							<li><a href="/additive/extra-features">Extra features</a></li>
							<li><a href="/additive/supporter-cape">Supporter cape</a></li>
							<li><a href="/additive/troubleshooting">Troubleshooting</a></li>
							<li><a href="/additive/credits">Credits</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</details>
	</article>
</aside>
